body{
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu{
    width: 900px;
    margin: 0 auto;
}
.menu{
    background-color: coral;
}
.menu ul{
list-style: none;
margin: 0;
padding: 0;
}
.menu ul li{
display: inline-block;
position: relative;
}
.menu ul li a{
    color: cornsilk;
    display: block;
    text-decoration: none;
    padding: 20px 96.2px;
}
.menu ul li a:hover{
    background-color: darkmagenta;
}

.menu li a:hover{
    color: rgb(247, 7, 19);
    transition: all .6s;
}
h1{
   text-align: center;
    background-color: darkmagenta;
    color: cornsilk; 
    padding: 20PX;
}
h2{
    text-align: left;
    color: rgb(247, 7, 19);
}
 p{
    color: cornsilk; 
 }  
 img{
     width: 170px;
     height: 170px;
     border-radius: 50%;
     object-fit: cover;

 } 
 .contenido{
     display: flex;
     margin: 60px;
 }
 .secciones{
     display: flex;
     align-items: center;
     padding: 40px;
 }
 .articulos{
     width: 80%;
     border-right:3px solid black;
 }
 footer{
     color: blanchedalmond;
     text-align: center;
     background-color: darkmagenta ;
     margin-top: 20px;
     display: block
 }
 form{
     color: blanchedalmond;
 }
